@charset "ISO-8859-1";
/*
* Globals personal CCS
 */

/********************************************************/
/*                      Fond home                       */
/********************************************************/
 
html,
body {
/*css for full size background image*/
  background: url(http://localhost:8080/tp-bigfood3/resources/assets/img/fond_FastAndFood.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #060;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/********************************************************/
/*                      Footer                       */
/********************************************************/

p-3 {
	text-color: #fff;
}

/********************************************************/
/*                      Footer                       */
/********************************************************/

footer {
	position: absolute; 
	bottom: 0; 
	left: 0; 
	right: 0
}